// top.scss
@use '../base/variables' as var;
@use '../base/mixins';
@use '../base/base';
@use '../base/loading';

// 変数を使用するファイル
@use '../components/btn';
@use '../components/modal';
@use '../layout/header';
@use '../layout/footer';


.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 88%;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.main__section {
  position: relative;
  margin-bottom: 80px;
}


.section__title {
  @include mixins.flex-col;
  align-items: flex-start;
  margin: 0 auto;

  &-jp {
    font-weight: 500;
    @include mixins.fluid-font(24px, 2vw, 36px);
    line-height: var.$line-height-sub;


  }


  &-en {
    color: var(--color-primary);
    font-weight: normal;
    font-size: 28px;
    @include mixins.fluid-font(18px, 2vw, 28px);
    line-height: var.$line-height-sub;
  }
}

/*MVスライド 
-----------------------------*/
/* 変数を定義 */
$animation-duration: 24s;

.slider__frame {
  position: relative;
  overflow: hidden;
  margin-top: -57px;
  width: 100%;
  height: 798px;
  clip-path: inset(0 round 0 0 200px 200px);

  @include mixins.mq(sm) {
    height: 467px;
    clip-path: inset(0 round 0 0 100px 100px);

  }

  &--island,
  &--harvest,
  &--farmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--island {
    background-image: url('/image/mv_01.png');
    animation: slide-animation-01 $animation-duration infinite;
  }

  &--harvest {
    background-image: url('/image/mv_02.png');
    animation: slide-animation-02 $animation-duration infinite;
  }

  &--farmer {
    background-image: url('/image/mv_03.png');
    animation: slide-animation-03 $animation-duration infinite;
  }
}

/* みかん画像 */

.overlay-mikan {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  max-width: 390px;
  width: 26vw;
  height: auto;


  &--rotate {
    animation: rotateScale 5s linear forwards;
  }
}

/* みかん回転＋拡大 */
@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(0.7);
  }

  100% {
    transform: rotate(360deg) scale(1.0);
  }
}


@keyframes slide-animation-01 {
  0% {
    opacity: 1;
    transform: scale(1.0);
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: scale(1.15);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
    transform: scale(1.1);
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
    transform: scale(1.0);
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
    transform: scale(1.0);
  }

  70% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

/* オーバーレイ */
.slider__overlay {
  position: absolute;
  top: 10%;
  right: 25%;
  font-family: 'Shippori Mincho', serif;
  line-height: 1.17;
  @include mixins.flex-center;
  z-index: 10;

  @include mixins.mq(lg) {
    right: 15%
  }

  @include mixins.mq(md) {
    right: 10%
  }

  ;
}

.slider-text {
  color: var.$color-white;
  background: rgba(0, 0, 0, 0.4);
  writing-mode: vertical-rl;
  text-align: left;
  font-weight: bold;
  padding: 71px 26px 43px 34px;
  text-orientation: upright;
  line-height: 400%;

  @include mixins.mq(sm) {
    padding: 13px 14px;
    line-height: 200%;
  }

}

.slider-text .line1 {
  @include mixins.fluid-font(20px, 2vw, 36px);
  letter-spacing: 0.2em;
}

.line2 {
  display: inline-block;
  letter-spacing: 0.2em;

}


.slider-text .line2 .small {
  @include mixins.fluid-font(20px, 2vw, 48px);
}

.slider-text .line2 .big {
  @include mixins.fluid-font(20px, 2vw, 55px);
}



/*ふるさと納税セクション
-----------------------------*/
.fade-in-section {
  opacity: 0;
  transition: opacity 2.5s ease;
}

.fade-in-section.visible {
  opacity: 1;
}



.hometown {
  margin: 80px 0 27px 0;


  &__image--inner {
    position: relative;
    border-radius: 100px;
    margin: 80px 0 27px 0;
  }

  & .wrapper {
    margin: 0 auto;
    max-width: 73%;

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  &__title {
    @include mixins.flex-center;
    gap: 26px;

  }

  &__subtitle {
    @include mixins.fluid-font(20px, 2vw, 28px);
  }

  &__image-inner {
    border-radius: 100px;
    position: relative;
    min-width: 135px;
  }

  &__image-logo {
    @include mixins.absolute-center-y(3%);
    width: 23%;
    height: auto;


    @include mixins.mq(lg) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &__box {
    position: relative;

    @include mixins.mq(lg) {
      position: static;
      @include mixins.flex-col(20px);
    }
  }

  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    @include mixins.flex-col(10px);
    margin: 0 auto;
    @include mixins.box(#0a1f47, 100px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 39%;
    height: 100%;
    justify-content: center;



    @include mixins.mq(lg) {
      position: static;
      @include mixins.box(#0a1f47, 80px, 25px 28px 23px 31px);
      width: 100%;
      gap: 20px;
    }

    @include mixins.mq(md) {
      border-radius: 50px;
      gap: 30px;
    }


  }

  &__text {
    color: #fff;
    @include mixins.fluid-font(14px, 2vw, 20px);
    line-height: var.$line-height-base;
    width: 80%;
  }
}

/*About usセクション
-----------------------------*/


.about {
  margin-top: 71px;
  padding: 60px 0px 100px 0px;
  background-color: #e8f5ff;

  @include mixins.mq(sm) {
    margin-top: 40px 0px 50px 0px;
    padding: 20px 0px 50px 0px;
  }



  &__container {
    @include mixins.flex-col(58px);
  }

  &__place {
    @include mixins.flex-between;
    width: 59%;

    @include mixins.mq(md) {
      width: 100%;
    }

    @include mixins.mq(sm) {
      position: relative;
      margin-top: 40px;

    }


    &--girl {
      width: 44%;

      @include mixins.mq(sm) {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &--map {
      width: 49%;
    }
  }






  &--map {
    margin-top: -73px;

    @include mixins.mq(sm) {
      top: 0;
      left: 0;
      width: 100vw;
    }

    @include mixins.mq(sm) {
      margin: 0px;
      top: 100%;
      right: 0;
    }


  }


  &__item {
    &-upper {
      @include mixins.flex-between;
      align-items: flex-end;

      @include mixins.mq(lg) {
        @include mixins.flex-col(50px);
      }
    }

    &-bottom {
      @include mixins.flex-center;
      align-items: flex-end;
      gap: 5%;

      @include mixins.mq(lg) {
        position: relative;
      }


      @include mixins.mq(md) {
        @include mixins.flex-col(50px);
      }


    }
  }

  &__inner {
    &-upper {
      width: 40%;


      @include mixins.mq(lg) {
        width: 100%;
      }
    }

    &-bottom {
      width: 100%;

      @include mixins.mq(lg) {
        margin-top: 46px;
      }


    }
  }

  &__bottom {
    @include mixins.flex-col;
  }

  &__goal {
    display: flex;
    flex-wrap: wrap;
    gap: 88px;
    width: 40%;

    @include mixins.mq(lg) {
      flex-direction: row;
      width: 100%;
      gap: 179px;
    }

    @include mixins.mq(sm) {
      flex-direction: column;
      gap: 0px;
    }
  }

  &__subtitle {
    position: absolute;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: var.$color-primary;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    top: -16px;
    left: 8%;
    @include mixins.fluid-font(14px, 2vw, 18px);
  }

  &__box-upper,
  &__box-bottom {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    border: solid 1px #3D4149;

    @include mixins.mq(sm) {
      margin-top: 61px;
    }

  }






  &__text {
    display: block;
    margin: 0 auto;
    text-align: left;
    line-height: var.$line-height-base;
    width: 80%;
    padding: 35px 0px;
    height: 76%;
  }


  &__family {
    width: 48%;


    @include mixins.mq(lg) {
      position: absolute;
      top: 0;
      right: 0;
      width: 56%;
    }



    @include mixins.mq(sm) {
      width: 80%;
      position: static;
    }

    &--photo {
      margin-top: auto;
    }

  }



  .lemon-boy {
    width: 84%;
    margin-left: auto;

    @include mixins.mq(lg) {
      margin: 0;
      width: 39%;
    }

    @include mixins.mq(sm) {
      width: 91%;
    }
  }

}

/*農園紹介スライドセクション
-----------------------------*/

.slider {
  position: relative;
  z-index: 1;
  height: auto;
  margin: 80px 0px 88px 0px;
  margin-bottom: 88px;

  @include mixins.mq(md) {
    margin-bottom: 60px;
  }

  @include mixins.mq(sm) {
    margin-bottom: 40px;
  }


  & .slick-slide {
    margin: 0 10px;
  }



  & img {
    width: 100%;
    height: auto;
  }

  & .slider--scene1 {
    background: url('../image/slider_scene1.png');
  }

  & .slider--scene2 {
    background: url('../image/slider_scene2.png');
  }

  & .slider--scene3 {
    background: url('../image/slider_scene3.png');
  }

  & .slider--scene4 {
    background: url('../image/slider_scene4.png');
  }

  & .slider--scene5 {
    background: url('../image/slider_scene5.png');
  }

  &--frame {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--frame li {
    width: 400px;
    height: 400px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include mixins.mq(md) {
      width: 300px;
      height: 300px;
    }
  }


}

/*私達のこだわりセクション
-----------------------------*/



.care {
  margin-bottom: 60px;


  &__box {

    &-upper {
      @include mixins.flex-center;
      gap: 4%;
      align-items: flex-start;
      margin-top: 60px;
      justify-content: flex-start;

      @include mixins.mq(sm) {
        @include mixins.flex-col(20px);
      }
    }

    &-bottom {
      @include mixins.flex-center;
      justify-content: flex-end;
      align-items: flex-start;
      margin-top: 14%;
      gap: 4%;

      @include mixins.mq(sm) {
        @include mixins.flex-col(20px);
        flex-direction: column-reverse
      }
    }


  }

  &__subtitle {
    @include mixins.subtitle;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    gap: 1.5rem;

    @include mixins.mq(md) {
      width: 89%
    }

    @include mixins.mq(sm) {
      width: 100%
    }
  }

  &__img-wrapper-01 {
    margin-left: -6.25vw;
    width: calc(100% + 6.25vw);
  }

  &__img-wrapper-02 {
    border-radius: 5px;
    margin-right: -6.25vw;
    width: calc(100% + 6.25vw);
  }

  &__item {
    @include mixins.img-block;
    width: 53%;



    @include mixins.mq(md) {
      width: 100%
    }

  }

  &__text {
    line-height: var.$line-height-base;
  }

  &__img-wrapper {
    position: relative;
  }



  &__overlay-upper,
  &__overlay-bottom {
    @include mixins.fluid-font(14px, 2vw, 22px);
    color: var.$color-primary;
    background-color: #fff;
    padding: 15px 26px;
    border: 1px solid var.$color-primary;
    position: absolute;
    top: 0;
  }


  &__overlay-upper {
    right: 0;
    border-bottom-right-radius: 30px;
  }

  &__overlay-bottom {
    left: 0;
    border-bottom-left-radius: 30px;
  }

}

/*育てているみかんたちセクション
-----------------------------*/

.juicy-crew {

  & .wrapper {
    width: 98%;
  }


  background-color: #FDF5E9;
  padding-bottom: 110px;

  & .section__title {
    display: block;
    width: 89%;
    padding-top: 50px;
    margin: 0 auto;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 32px);
    position: relative;
    width: 97%;
    margin-inline: auto;
    padding-top: 60px;

    @include mixins.mq(sm) {
      padding-bottom: 60px;
      @include mixins.flex-col(50px);
    }

  }

  // 子要素のSCSS
  &__item {
    display: flex;
    align-items: center;
    gap: 22px;
    justify-self: center; // 水平方向は中央に
    align-self: flex-start;
    outline: none;


    @include mixins.mq(sm) {
      width: 90%;
      gap: 10px;
      align-items: center;
    }



    img {
      @include mixins.mq(sm) {
        margin-right: 10px;
      }
    }




    // 1番目
    &:nth-child(1) {
      grid-column: 1 / 4; // 1本目の線から3本目の線まで（2マス分）
      grid-row: 1 / 3;
      z-index: 4;
    }

    // 2番目
    &:nth-child(2) {
      grid-column: 4 / 7;
      grid-row: 10 / 18;
      z-index: 3;
    }

    // 3番目
    &:nth-child(3) {
      grid-column: 6 / 9;
      grid-row: 1 / 12;
      z-index: 2;
    }

    // 4番目
    &:nth-child(4) {
      grid-column: 9 / 12;
      grid-row: 9 / 18;
      z-index: 1;
    }


  }

  &__label {
    writing-mode: vertical-rl;
    margin-top: 0.5rem;
    @include mixins.fluid-font(16px, 2vw, 24px);
  }
}

.section__cta {
  text-align: center;
}

.number {
  text-combine-upright: all;
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
}

/*ここから風早珈琲焙煎所BOWEN
-----------------------------*/





.cafe-intro {

  padding-top: 60px;

  @include mixins.mq(md) {
    width: 93%;
  }

  @include mixins.mq(sm) {
    width: 100%;
  }

  & .wrapper {
    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  & .section__title {

    @include mixins.mq(sm) {
      width: 89%;
    }
  }

  &__content {
    @include mixins.flex-between;
    align-items: flex-start;

    @include mixins.mq(md) {
      @include mixins.flex-col(38px);

      @include mixins.mq(sm) {
        gap: 33px;
      }

    }
  }

  &__right-column {
    width: 37%;
    @include mixins.flex-col(6%);

    @include mixins.mq(md) {
      @include mixins.flex-center;
      width: 70%;
    }

    @include mixins.mq(sm) {
      width: 89%;
    }
  }

  &__info-block {
    @include mixins.flex-center;
    width: 100%;

    @include mixins.mq(sm) {
      @include mixins.flex-col(17px);
      width: 75%;
    }
  }

  &__photo-content {
    display: block;
    width: 56%;
    padding-top: 80px;


    @include mixins.mq(md) {
      width: 100%;
      padding-top: 36px;
    }
  }

  &__photo {
    @include mixins.img-block;
  }

  &__caption {
    text-align: right;
    @include mixins.fluid-font(16px, 2vw, 22px);
    color: var.$color-secondary;

  }

  &__headline {
    @include mixins.fluid-font(18px, 2vw, 20px);
    color: var.$color-white ;
    background-color: var.$color-secondary;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    margin-right: auto;
  }

  &__description {
    line-height: var.$line-height-base ;
    padding-bottom: 35px;
    ;
  }

  &__text-column {
    @include mixins.flex-col(30px);

    @include mixins.mq(sm) {
      gap: 20px;
    }

  }

  &__info-inner {
    @include mixins.flex-col;
    width: 60%;

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  &__info-title {
    position: relative;
    display: inline-block;
  }

  &__info-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var.$color-secondary;
  }

  &__info-item {
    @include mixins.flex-center;
    margin-bottom: 10px;
  }

  &__info-term {
    font-weight: 400;
    width: 100px;
  }

  &__info-description {
    flex: 1;
  }

  &__info-list {
    padding-top: 20px;
  }

  &__icon-group {
    display: block;
    width: 40%;
    position: relative;

    & img {
      position: absolute;

      @include mixins.mq(sm) {
        position: static;
      }
    }

    @include mixins.mq(sm) {
      position: static;
      @include mixins.flex-between
    }
  }

  &__beans-icon {
    left: 0;
    top: 0;
    transform: translateY(-100%);

    @include mixins.mq(sm) {
      transform: translateY(0%);
    }

  }

  &__orange-icon {
    right: 0;
  }
}


/*ここからオンラインショップ
-----------------------------*/

.online-shop {
  margin-top: 131px;
  margin-bottom: 60px;


  @include mixins.mq(sm) {
    position: relative;
    margin-top: 90px;

  }

  & .section__title {
    width: 100%;

    @include mixins.mq(sm) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      margin-bottom: 0;
      width: 89%;
      margin-left: auto;
      margin-right: auto;
    }
  }


  &__column {
    @include mixins.flex-between;
    align-items: flex-start;


    @include mixins.mq(sm) {
      @include mixins.flex-col;
      flex-direction: column-reverse;
    }
  }

  &__column-left {
    width: 33%;

    @include mixins.mq(md) {
      width: 50%;
    }

    @include mixins.mq(sm) {
      width: 89%;
      text-align: center;
    }

  }

  &__text-column {
    @include mixins.flex-col(30px);
    padding-top: 50px;
    padding-bottom: 78px;
    align-items: first baseline;
    text-align: left;

    @include mixins.mq(lg) {
      padding-bottom: 60px;
    }

    @include mixins.mq(md) {
      padding-bottom: 45px;
    }

    @include mixins.mq(sm) {
      padding-top: 33px;
      padding-bottom: 37px;
    }
  }


  &__photo-wrapper {
    display: flex;
    align-items: flex-start;
  }


  &__comment {
    width: 23%;
    aspect-ratio: 1 / 1;
    background: url("../image/speech-bubble.png") no-repeat center/contain;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixins.mq(md) {
      width: 30%;
    }
  }




  &__column-right {
    width: 67%;

    @include mixins.mq(sm) {
      width: 89%;
      margin-top: 86px;
    }
  }


  &__comment-text {
    position: relative;
    z-index: 1;
    width: 75%;
    height: auto;
    @include mixins.flex-center;
    text-align: center;
    @include mixins.fluid-font(10px, 2vw, 16px);
  }

  &__photo-container {
    flex: 1;
  }

  &__photo {
    display: block;
    width: 79%;
    height: auto;

    @include mixins.mq(md) {
      width: 100%;
    }
  }

  & .btn {
    display: inline-block;
    margin-left: 0;
    gap: 10px;

    @include mixins.mq(sm) {
      display: block;
      margin: 0 auto;
    }


  }


}




/*ここからお問い合わせ
-----------------------------*/

.contact {
  padding-top: 48px;
  padding-bottom: 60px;
  background-color: var.$color-background;

  & .section__title {
    display: inline-block;
    position: relative;
    gap: 0;
    width: auto;
  }

  &.section__title p,
  .section__title h2 {
    display: inline-block;
    white-space: nowrap;
  }

  &__image.image-sp {
    display: none;

    @include mixins.mq(md) {
      display: block;
      position: absolute;
      width: 80px;
      height: 74px;
      top: 0;
      right: -75px
    }
  }

  &__image.image-pc {
    display: block;
    position: absolute;
    width: 139px;
    height: 128px;
    right: -130px;
    bottom: 0;
    z-index: 500;

    @include mixins.mq(md) {
      display: none;
    }
  }


  &__content {
    position: relative;
    width: 73%;
    margin-inline: auto;

    @include mixins.mq(sm) {
      @include mixins.flex-col;
      flex-direction: column-reverse
    }

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  &__content-container {

    @include mixins.flex-col(20px);
    background-color: var.$color-primary;
    padding: 30px 0px;
    border-radius: 300px;
    margin-top: 30px;
    width: 100%;
    text-align: left;

    @include mixins.mq(lg) {
      border-radius: 200px;
    }

    @include mixins.mq(md) {
      border-radius: 100px;
      padding: 60px 0px;
    }
  }

  & .btn {
    gap: 20px;
  }

  &__buttons {
    @include mixins.flex-center;
    gap: 8%;

    @include mixins.mq(lg) {
      @include mixins.flex-col(30px);
    }

  }

  &__note,
  &__text {
    @include mixins.mq(lg) {
      width: 78%;
    }
  }

  &__btn-icon {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__text,
  &__note {
    color: var.$color-white;
  }

  &__image-icon {
    @include mixins.mq(sm) {
      position: absolute;
      max-width: 80px;

    }
  }

  &.section__title {
    display: block;
    position: relative;

  }
}