// top.scss
@use '../base/variables' as var;
@use '../base/mixins';
@use '../base/base';
@use '../base/loading';

// 変数を使用するファイル
@use '../components/btn';
@use '../components/modal';
@use '../layout/header';
@use '../layout/footer';


.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 88%;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.main__section {
  position: relative;
  margin-bottom: 80px;
}


.section__title {
  @include mixins.flex-col;
  align-items: flex-start;
  margin: 0 auto;
  line-height: var.$line-height-sub;

  &-jp {
    font-weight: 500;
    @include mixins.fluid-font(26px, 2vw, 36px);
    letter-spacing: 150%;
  }


  &-en {
    color: var(--color-primary);
    font-weight: normal;
    font-size: 28px;
    @include mixins.fluid-font(18px, 2vw, 28px);
  }
}

/*MVスライド 
-----------------------------*/
/* 変数を定義 */
$animation-duration: 24s;

.slider__frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 798px;
  clip-path: inset(0 round 0 0 200px 200px);

  @include mixins.mq(sm) {
    height: 467px;
    clip-path: inset(0 round 0 0 100px 100px);
  }

  &--island,
  &--harvest,
  &--farmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--island {
    background-image: url('/image/mv_01.png');
    animation: slide-animation-01 $animation-duration infinite;
  }

  &--harvest {
    background-image: url('/image/mv_02.png');
    animation: slide-animation-02 $animation-duration infinite;
  }

  &--farmer {
    background-image: url('/image/mv_03.png');
    animation: slide-animation-03 $animation-duration infinite;
  }
}

/* みかん画像 */

.overlay-mikan {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  max-width: 390px;
  width: 26vw;
  height: auto;


  &--rotate {
    animation: rotateScale 5s linear forwards;
  }
}

/* みかん回転＋拡大 */
@keyframes rotateScale {
  0% {
    transform: rotate(0deg) scale(0.7);
  }

  100% {
    transform: rotate(360deg) scale(1.0);
  }
}


@keyframes slide-animation-01 {
  0% {
    opacity: 1;
    transform: scale(1.0);
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: scale(1.15);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
    transform: scale(1.1);
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
    transform: scale(1.0);
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
    transform: scale(1.0);
  }

  70% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

/* オーバーレイ */
.slider__overlay {
  position: absolute;
  top: 10%;
  right: 25%;
  font-family: 'Shippori Mincho', serif;
  line-height: 1.17;
  @include mixins.flex-center;
  z-index: 10;

  @include mixins.mq(lg) {
    right: 15%
  }

  @include mixins.mq(md) {
    right: 10%
  }

  @include mixins.mq(sm) {
    right: 5%
  }

  ;
}

.slider-text {
  color: var.$color-white;
  background: rgba(0, 0, 0, 0.4);
  writing-mode: vertical-rl;
  text-align: left;
  font-weight: bold;
  padding: 71px 26px 43px 34px;
  text-orientation: upright;
  line-height: 400%;

  @include mixins.mq(sm) {
    padding: 13px 14px;
    line-height: 200%;
  }

}

.slider-text .line1 {
  @include mixins.fluid-font(20px, 2vw, 36px);
  letter-spacing: 0.2em;
}

.line2 {
  display: inline-block;
  letter-spacing: 0.2em;

}


.slider-text .line2 .small {
  @include mixins.fluid-font(20px, 2vw, 48px);
}

.slider-text .line2 .big {
  @include mixins.fluid-font(20px, 2vw, 55px);
}



/*ふるさと納税セクション
-----------------------------*/
.fade-in-section {
  opacity: 0;
  transition: opacity 2.5s ease;
}

.fade-in-section.visible {
  opacity: 1;
}



.hometown {
  margin: 80px 0 27px 0;

  @include mixins.mq(sm) {
    margin: 30px 0 46px 0;
  }


  &__image--inner {
    position: relative;
    border-radius: 100px;
    margin: 80px 0 27px 0;


  }

  & .wrapper {
    margin: 0 auto;
    max-width: 73%;

    @include mixins.mq(sm) {
      max-width: 87%;
    }
  }

  &__title {
    @include mixins.flex-center;
    gap: 26px;
    margin-bottom: 12px;

    @include mixins.mq(sm) {
      margin-bottom: 20px;
    }

  }

  &__subtitle {
    @include mixins.fluid-font(18px, 2vw, 28px);
  }

  &__image-inner {
    position: relative;
    min-width: 135px;
  }

  &__image--orange {
    border-radius: 100px;

    @include mixins.mq(sm) {
      object-fit: cover;
      object-position: center;
    }
  }

  &__image-logo {
    @include mixins.absolute-center-y(3%);
    width: 23%;
    height: auto;


    @include mixins.mq(lg) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &__box {
    position: relative;

    @include mixins.mq(lg) {
      position: static;
      @include mixins.flex-col(20px);
    }
  }

  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    @include mixins.flex-col(10px);
    margin: 0 auto;
    @include mixins.box(#0a1f47, 100px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 39%;
    height: 100%;
    justify-content: center;



    @include mixins.mq(lg) {
      position: static;
      @include mixins.box(#0a1f47, 80px, 25px 28px 23px 31px);
      width: 100%;
      gap: 20px;
    }

    @include mixins.mq(md) {
      border-radius: 50px;
      gap: 30px;
    }

    @include mixins.mq(sm) {
      @include mixins.box(#0a1f47, 50px, 39px 20px 23px 19px);
      gap: 21px;
    }


  }

  &__text {
    color: #fff;
    @include mixins.fluid-font(16px, 2vw, 20px);
    line-height: var.$line-height-base;
    width: 80%;

    @include mixins.mq(sm) {
      width: 100%;
      font-size: 16px;
    }
  }


}

/*About usセクション
-----------------------------*/


.about {
  margin-top: 71px;
  padding: 60px 0px 100px 0px;
  background-color: #e8f5ff;

  @include mixins.mq(sm) {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px 0px 50px 0px;
  }



  &__container {
    @include mixins.flex-col(58px);
    margin-top: 10px;

    @include mixins.mq(sm) {
      margin-top: 40px;
      gap: 33px
    }

  }

  &__place {
    @include mixins.flex-between;
    width: 59%;
    align-items: flex-end;

    @include mixins.mq(md) {
      width: 100%;
    }

    @include mixins.mq(sm) {
      position: relative;
    }


    &--girl {
      width: 44%;

      @include mixins.mq(sm) {
        position: absolute;
        right: 0;
        bottom: -185px;
        width: 78%;
      }
    }

    &--map {
      width: 49%;
      align-items: flex-end;


      @include mixins.mq(sm) {
        margin: 0px;
        top: 0;
        right: 0;
      }
    }
  }




  &__item {
    &-upper {
      @include mixins.flex-between;
      align-items: flex-end;

      @include mixins.mq(lg) {
        @include mixins.flex-col(50px);
      }
    }

    &-bottom {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 68px;

      @include mixins.mq(lg) {
        position: relative;
      }


      @include mixins.mq(md) {
        @include mixins.flex-col(50px);
      }


    }
  }

  &__inner {
    &-upper {
      width: 40%;


      @include mixins.mq(lg) {
        width: 100%;
      }
    }

    &-bottom {
      width: 100%;

      @include mixins.mq(lg) {
        margin-top: 46px;
      }

      @include mixins.mq(sm) {
        margin-top: 60px;
      }


    }
  }

  &__bottom {
    @include mixins.flex-col;
  }

  &__goal {
    display: flex;
    flex-wrap: wrap;
    gap: 88px;
    width: 40%;

    @include mixins.mq(lg) {
      flex-direction: row;
      width: 100%;
      gap: 179px;
    }

    @include mixins.mq(sm) {
      flex-direction: column;
      gap: 0px;
    }
  }

  &__subtitle {
    position: absolute;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: var.$color-primary;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    top: -16px;
    left: 8%;
    font-size: 18px;

    @include mixins.mq(sm) {
      padding: 8px 19px;
      top: -20px;
      left: 30%;
    }
  }

  &__box-upper,
  &__box-bottom {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    border: solid 1px #3D4149;

    @include mixins.mq(sm) {
      margin-top: 190px;
    }

  }

  &__box-upper {
    @include mixins.mq(sm) {
      margin-top: 190px;
    }
  }


  &__box-bottom {
    @include mixins.mq(sm) {
      margin-top: 0px;
    }
  }






  &__text {
    display: block;
    margin: 0 auto;
    text-align: left;
    line-height: var.$line-height-base;
    width: 80%;
    padding: 35px 0px;
    height: 76%;

    @include mixins.mq(sm) {
      width: 92%;
    }

  }


  &__family {
    width: 55%;


    @include mixins.mq(lg) {
      position: absolute;
      top: 0;
      right: 0;
      width: 56%;
    }



    @include mixins.mq(sm) {
      width: 100%;
      position: static;
    }

    &--photo {
      margin-top: auto;
    }

  }



  .lemon-boy {
    width: 84%;
    margin-left: auto;

    @include mixins.mq(lg) {
      margin: 0;
      width: 39%;
    }

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

}

/*農園紹介スライドセクション
-----------------------------*/

.slider {
  position: relative;
  z-index: 1;
  height: auto;
  margin: 70px 0px 80px 0px;


  @include mixins.mq(md) {
    margin-bottom: 60px;
  }

  @include mixins.mq(sm) {
    margin-bottom: 40px;
    margin-top: 0px;
  }


  & .slick-slide {
    margin: 0 10px;
  }



  & img {
    width: 100%;
    height: auto;
  }

  & .slider--scene1 {
    background: url('../image/slider_scene1.png');
  }

  & .slider--scene2 {
    background: url('../image/slider_scene2.png');
  }

  & .slider--scene3 {
    background: url('../image/slider_scene3.png');
  }

  & .slider--scene4 {
    background: url('../image/slider_scene4.png');
  }

  & .slider--scene5 {
    background: url('../image/slider_scene5.png');
  }

  &--frame {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--frame li {
    width: 400px;
    height: 400px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include mixins.mq(md) {
      width: 300px;
      height: 300px;
    }
  }


}

/*私達のこだわりセクション
-----------------------------*/



.care {
  margin-bottom: 60px;


  &__box {

    &-upper {
      @include mixins.flex-center;
      gap: 70px;
      align-items: flex-start;
      margin-top: 51px;
      justify-content: flex-start;

      @include mixins.mq(sm) {
        @include mixins.flex-col(20px);
        margin-top: 31px;
      }
    }

    &-bottom {
      @include mixins.flex-center;
      justify-content: flex-end;
      align-items: flex-start;
      margin-top: 180px;
      gap: 70px;

      @include mixins.mq(sm) {
        @include mixins.flex-col(20px);
        margin-top: 36px;

      }
    }


  }

  &__subtitle {
    @include mixins.subtitle;

    @include mixins.mq(sm) {
      order: 1;
    }

    @include mixins.mq(sm) {
      padding: 4px 41px;
      ;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    gap: 30px;

    @include mixins.mq(md) {
      width: 89%
    }

    @include mixins.mq(sm) {
      display: contents;
      width: 100%
    }
  }

  &__img-wrapper-01 {
    position: relative;
    margin-left: -5.8vw;
    width: calc(100% + 6.5vw);

    @include mixins.mq(sm) {
      margin: 0 auto;
      width: 100%;

    }

  }

  &__img-wrapper-02 {
    position: relative;
    border-radius: 5px;
    margin-right: -5.8vw;
    width: calc(100% + 6.5vw);

    @include mixins.mq(sm) {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__item {
    @include mixins.img-block;
    width: 54%;



    @include mixins.mq(sm) {
      width: 100%;
      order: 2;
    }



  }

  &__text {
    line-height: var.$line-height-base;

    @include mixins.mq(sm) {
      order: 3;
    }
  }

  &__img-wrapper {
    position: relative;
  }



  &__overlay-upper,
  &__overlay-bottom {
    @include mixins.fluid-font(14px, 2vw, 22px);
    color: var.$color-primary;
    background-color: #fff;
    padding: 15px 26px;
    border: 1px solid var.$color-primary;
    position: absolute;
    top: 0;
  }


  &__overlay-upper {
    right: 0;
    border-bottom-right-radius: 30px;
  }

  &__overlay-bottom {
    left: 0;
    border-bottom-left-radius: 30px;
  }

}

/*育てているみかんたちセクション
-----------------------------*/

.juicy-crew {
  background-color: #FDF5E9;
  padding-top: 67px;
  padding-bottom: 100px;

  @include mixins.mq(sm) {
    padding-top: 31px;
    padding-bottom: 45px;
  }



  & .wrapper {
    width: 98%;

    @include mixins.mq(md) {
      width: 89%;
    }
  }


  & .section__title {
    display: block;
    width: 89%;
    margin: 0 auto;
  }

  &__gallery {
    margin: 90px 0px 50px 0px;

    @include mixins.mq(md) {
      @include mixins.flex-col;
      margin-bottom: 33px;
    }

    @include mixins.mq(sm) {
      margin-top: 25px;
      margin-bottom: 35px;
    }
  }


  &__gallery-01 {
    @include mixins.flex-between;
    width: 78%;
    gap: 270px;

    @include mixins.mq(md) {
      gap: 50px
    }

    @include mixins.mq(sm) {
      @include mixins.flex-col(50px);
      width: 100%;
    }

  }

  &__gallery-02 {
    @include mixins.flex-between;
    width: 78%;
    gap: 300px;
    margin-top: -90px;
    margin-left: auto;

    @include mixins.mq(md) {
      margin-top: 50px;
      gap: 50px
    }

    @include mixins.mq(sm) {
      @include mixins.flex-col(50px);
      width: 100%;
    }
  }






  // 子要素のSCSS
  &__item {
    display: flex;
    align-items: center;
    gap: 22px;
    justify-self: center; // 水平方向は中央に
    align-self: flex-start;
    outline: none;


    @include mixins.mq(sm) {
      width: 90%;
      gap: 10px;
      align-items: center;

      @include mixins.mq(sm) {
        width: 93%;
      }
    }



    img {
      @include mixins.mq(sm) {
        margin-right: 10px;
      }
    }




  }

  &__label {
    writing-mode: vertical-rl;
    margin-top: 0.5rem;
    letter-spacing: 0.5em;
    @include mixins.fluid-font(20px, 2vw, 24px);

  }
}

.section__cta {
  text-align: center;
}

.number {
  text-combine-upright: all;
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
}

/*ここから風早珈琲焙煎所BOWEN
-----------------------------*/





.cafe-intro {

  padding-top: 55px;

  @include mixins.mq(md) {
    width: 93%;
  }

  @include mixins.mq(sm) {
    width: 100%;
    padding-top: 29px;
  }

  & .wrapper {
    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  & .section__title {

    @include mixins.mq(sm) {
      width: 89%;

    }
  }

  &__content {
    @include mixins.flex-between;
    align-items: flex-start;
    margin-top: 15px;

    @include mixins.mq(md) {
      @include mixins.flex-col(38px);

      @include mixins.mq(sm) {
        gap: 33px;
        margin-top: 0px;
      }

    }
  }

  &__right-column {
    width: 37%;
    @include mixins.flex-col(6%);

    @include mixins.mq(md) {
      @include mixins.flex-center;
      width: 70%;
    }

    @include mixins.mq(sm) {
      width: 89%;
    }
  }

  &__info-block {
    @include mixins.flex-center;
    width: 100%;

    @include mixins.mq(sm) {
      @include mixins.flex-col(17px);
      width: 75%;
    }
  }

  &__photo-content {
    display: block;
    width: 57%;
    padding-top: 68px;


    @include mixins.mq(md) {
      width: 100%;
      padding-top: 36px;
    }
  }

  &__photo {
    margin-bottom: 10px;

    @include mixins.mq(sm) {
      height: 288px;
      width: auto;
    }
  }

  &__caption {
    text-align: right;
    font-size: 28px;
    color: var.$color-secondary;
    @include mixins.fluid-font(18px, 2vw, 28px);
  }

  &__headline {
    @include mixins.fluid-font(20px, 2vw, 32px);
    color: var.$color-white ;
    background-color: var.$color-secondary;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    margin-right: auto;

    @include mixins.mq(sm) {
      padding: 12px 30px;
    }

  }

  &__description {
    line-height: var.$line-height-base ;
    padding-bottom: 77px;
    @include mixins.flex-col(30px);
    align-items: flex-start;
    color: var.$color-secondary;

    @include mixins.mq(sm) {
      gap: 0px;
      padding-bottom: 25px;
    }
  }

  &__text-column {
    @include mixins.flex-col(15px);

    @include mixins.mq(sm) {
      gap: 20px;
    }

  }

  &__info-inner {
    @include mixins.flex-col;
    width: 60%;

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  &__info-title {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 100%;
  }

  &__info-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var.$color-secondary;
  }

  &__info-term::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var.$color-secondary;
  }

  &__info-item {
    @include mixins.flex-center;
    margin-bottom: 10px;

    @include mixins.mq(sm) {
      width: 100%;
      margin-bottom: 7px;
    }
  }

  &__info-term {
    font-size: 12px;
    font-weight: 400;
    width: 100px;

    @include mixins.mq(sm) {
      width: 80px;
    }
  }



  &__info-list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var.$color-secondary;
  }


  &__info-description {
    flex: 1;
  }

  &__info-list {
    position: relative;
    padding-top: 20px;
    font-size: 14px;
    width: 100%;
  }

  &__icon-group {
    display: block;
    width: 40%;
    position: relative;

    & img {
      position: absolute;

      @include mixins.mq(sm) {
        position: static;
      }
    }

    @include mixins.mq(sm) {
      position: static;
      @include mixins.flex-between;
      width: 100%;
      flex-direction: row-reverse;
    }
  }

  &__beans-icon {
    left: 0;
    top: 30px;
    transform: translateY(-100%);

    @include mixins.mq(sm) {
      transform: translateY(0%);
      width: 25%;
    }

  }

  &__orange-icon {
    right: -30px;
    top: -10px;

    @include mixins.mq(sm) {
      width: 25%;
      top: 0;
    }
  }
}


/*ここからオンラインショップ
-----------------------------*/

.online-shop {
  margin-top: 122px;
  margin-bottom: 80px;


  @include mixins.mq(md) {
    position: relative;
    margin-top: 90px;
    margin-bottom: 60px;

    @include mixins.mq(sm) {
      margin-top: 60px;
      margin-bottom: 0px;
      padding-bottom: 23px;
    }

  }

  & .section__title {
    width: 100%;

    @include mixins.mq(sm) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      margin-bottom: 0;
      width: 89%;
      margin-left: auto;
      margin-right: auto;
    }
  }


  &__column {
    @include mixins.flex-center;
    align-items: flex-start;


    @include mixins.mq(sm) {
      @include mixins.flex-col;
      flex-direction: column-reverse;
    }
  }

  &__column-left {
    width: 30%;

    @include mixins.mq(md) {
      width: 50%;
    }

    @include mixins.mq(sm) {
      width: 100%;
      text-align: center;
    }

  }

  &__text-column {
    @include mixins.flex-col(54px);
    padding: 50px 0px 100px 0px;
    align-items: first baseline;
    text-align: left;
    line-height: 180%;

    @include mixins.mq(lg) {
      padding-bottom: 60px;
    }

    @include mixins.mq(md) {
      padding-bottom: 45px;
    }

    @include mixins.mq(sm) {
      padding: 28px 0px;
      gap: 0;
    }
  }


  &__photo-wrapper {
    display: flex;
    align-items: flex-start;

    @include mixins.mq(sm) {
      @include mixins.flex-col;
    }
  }


  &__comment {
    width: 20%;
    aspect-ratio: 1 / 1;
    background: url("../image/speech-bubble.png") no-repeat center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;

    @include mixins.mq(md) {
      width: 30%;
    }

    @include mixins.mq(sm) {
      margin-top: 0px;
      position: absolute;
      top: 12%;
      left: 0;
    }
  }




  &__column-right {
    width: 70%;

    @include mixins.mq(sm) {
      width: 89%;
      margin: 120px 0 0 auto;
    }
  }


  &__comment-text {
    position: relative;
    z-index: 1;
    width: 75%;
    height: auto;
    @include mixins.flex-center;
    text-align: center;
    @include mixins.fluid-font(10px, 2vw, 16px);
  }

  &__photo-container {
    flex: 1;
    margin-top: 23px;

    @include mixins.mq(sm) {
      position: relative;
      margin-top: 40px;
    }
  }

  &__photo {
    display: block;
    width: 85%;
    height: auto;

    @include mixins.mq(md) {
      width: 100%;
    }


  }

  & .btn {
    display: inline-block;
    margin-left: 0;
    gap: 10px;

    @include mixins.mq(sm) {
      display: block;
      margin: 0 auto;
    }


  }


}




/*ここからお問い合わせ
-----------------------------*/

.contact {
  padding: 48px 0px 100px 0px;
  background-color: var.$color-background;

  @include mixins.mq(sm) {
    padding: 21px 0px 60px 0px;
  }


  & .section__title {
    display: inline-block;
    position: relative;
    gap: 0;
    width: auto;
  }

  &.section__title p,
  .section__title h2 {
    display: inline-block;
    white-space: nowrap;
  }

  &__image.image-sp {
    display: none;

    @include mixins.mq(md) {
      display: block;
      position: absolute;
      width: 80px;
      height: 74px;
      top: 0;
      right: -75px
    }
  }

  &__image.image-pc {
    display: block;
    position: absolute;
    width: 139px;
    height: 128px;
    right: -130px;
    bottom: 0;
    z-index: 500;

    @include mixins.mq(md) {
      display: none;
    }
  }


  &__content {
    position: relative;
    width: 83%;
    margin-inline: auto;


    @include mixins.mq(sm) {
      @include mixins.flex-col;
      flex-direction: column-reverse
    }

    @include mixins.mq(sm) {
      width: 100%;
    }
  }

  &__content-container {

    @include mixins.flex-col(20px);
    background-color: var.$color-primary;
    padding: 32px 0px;
    border-radius: 300px;
    margin-top: 37px;
    width: 100%;
    text-align: left;

    @include mixins.mq(lg) {
      border-radius: 200px;
    }

    @include mixins.mq(md) {
      border-radius: 100px;
      padding: 60px 0px;
    }
  }

  & .btn {
    gap: 20px;
  }

  &__buttons {
    @include mixins.flex-center;
    gap: 85px;

    @include mixins.mq(lg) {
      @include mixins.flex-col(30px);
      flex-direction: column-reverse;
    }

  }

  &__note,
  &__text {
    @include mixins.mq(lg) {
      width: 78%;
    }
  }

  &__btn-icon {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__text {
    font-size: 18px;
  }

  &__text,
  &__note {
    color: var.$color-white;
  }

  &__image-icon {
    @include mixins.mq(sm) {
      position: absolute;
      max-width: 80px;

    }
  }

  &.section__title {
    display: block;
    position: relative;

  }
}