@use '../base/variables' as var;
@use '../base/mixins';

.footer {
    background-color: var.$color-dark-blue;
    color: var.$color-white;
    text-align: center;
    padding-bottom: 26px;




    &__center-container {
        display: block;
        width: 29%;

        @include mixins.mq(sm) {
            width: 100%;
        }
    }

    &__nav-list {
        @include mixins.flex-center;
        gap: 30px;
        align-items: flex-start;

    }

    &__nav-item {
        writing-mode: vertical-rl;
        letter-spacing: 0.5em;

    }

    &__content {
        @include mixins.flex-between;
        width: 72%;
        margin-bottom: 58px;
        margin: 0 auto;
        padding: 97px 0 58px 0;
        gap: 85px;

        @include mixins.mq(sm) {
            @include mixins.flex-col(60px);
            padding: 46px 0 40px 0;
            width: 82%;
        }
    }

    &__social-icons {
        @include mixins.flex-left;
        gap: 15px;
    }

    &__left-container {
        @include mixins.flex-col(23px);
        width: 13%;

        @include mixins.mq(sm) {
            width: 25%;
        }

        @include mixins.mq(sm) {
            width: 37%;
        }
    }

    &__right-container {
        margin-right: 0;
        width: 28%;


        @include mixins.mq(sm) {
            width: 70%;
            margin-left: 0;
        }
    }



}