@use '../base/mixins';

.modal {
    padding: 2rem;
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
    margin: auto;
    @include mixins.flex-center;
    pointer-events: auto;

    @include mixins.mq(sm) {
        padding: 1rem;
    }


    &:not([open]) {
        display: none;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, .6);
    }


    &__title {
        font-size: 24px;
        color: #f39c12;
        font-weight: bold;
    }


    // モーダルの内側
    &__content {
        position: relative;
        border-radius: 100px;
        background-color: #fdf5e9;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        padding: 144px 113px;
        overflow: hidden;
        width: 65%;
        height: 75vh;
        border-radius: 100px;
        pointer-events: auto; // 必要に応じて調整
        background-image: url(../image/modal__body-background.png);
        background-size: 80% 60%;

        background-repeat: no-repeat;

        background-position: center;


        @include mixins.mq(lg) {
            width: 85%;
            height: 90vh;
            padding: 100px 90px;
        }

        @include mixins.mq(md) {
            background-image: none;
        }

        @include mixins.mq(sm) {
            padding: 87px 64px;
            height: 850px;
            background-image: none;
        }
    }




    &__illustration {
        width: 28%;
        height: auto;
        position: absolute;
        right: -40px;
        bottom: 0;
        z-index: 100;
        max-width: 300px;

        @include mixins.mq(md) {
            width: 149px;
            height: 106px;
            bottom: 60px;
        }
    }


    // モーダルの本体部分
    &__body {
        @include mixins.flex-center;
        gap: 26px;
        position: relative;
        z-index: 0;
        height: 100%;


        @include mixins.mq(md) {
            @include mixins.flex-col(30px)
        }

        @include mixins.mq(sm) {
            gap: 35px;
        }
    }




    &__image-wrapper {
        width: 33%;

        @include mixins.mq(md) {
            width: 50%;
        }

        @include mixins.mq(sm) {
            width: 73%;
        }


    }

    &__inner {
        padding-top: 44px;
        @include mixins.flex-col(15px);

        &-season,
        &-cut {
            display: inline-block;
            padding: 15px 0px;
            border-radius: 30px;
            width: 100%;
            text-align: center;
            @include mixins.fluid-font(14px, 2vw, 20px)
        }


        &-season {
            border: 1px solid #f39c12;
        }

        &-cut {
            background-color: #f39c12;
            color: #fff;
        }
    }



    &__text-wrapper {
        width: 47%;
        @include mixins.flex-col(20px);
        align-items: flex-start;
        position: relative;

        @include mixins.mq(md) {
            width: 65%;

            @include mixins.mq(sm) {
                width: 100%;
                gap: 10px;
            }

        }

        &__title {
            margin-bottom: 15px;
            color: #f39c12;
            font-weight: bold;
            font-size: 24px;
        }

        &__description {
            font-size: 16px;
            line-height: 1.8;
        }
    }




    &__button {
        display: inline-block;
        padding: 12px 30px;
        border-radius: 25px;
        background-color: #f39c12;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
        height: auto;
        object-fit: cover;

        @include mixins.mq(md) {
            display: none;
        }
    }



    &__close-btn {
        position: absolute;
        top: 9%;
        right: 21%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
        z-index: 200;
        outline: none;
    }

    &__bar {
        position: absolute;
        width: 73px;
        height: 2px;
        background-color: #000;
        top: 50%;
        left: 0;
        transform-origin: center;
        z-index: 300;

        @include mixins.mq(sm) {
            width: 50px;
        }

    }
}



/* バツ表示 */

.modal__close-btn .modal__bar:nth-child(1) {
    transform: rotate(30deg);
}

.modal__close-btn .modal__bar:nth-child(2) {
    opacity: 0;
}

.modal__close-btn .modal__bar:nth-child(3) {
    transform: rotate(-30deg);
}