@use '../base/variables' as var;

* {
  box-sizing: border-box;  margin: 0;  padding: 0;
}



// リスト
ul,
ol {
  list-style: none;
}

// 画像
img {
  max-width: 100%;  height: auto;
}


body { color: #343333; 
  font-family: $font-family-base;  line-height: 1.8;
}

// 英語フォントを使う要素
[lang='en'] {
  font-family: $font-family-en;
}
