/* base.css */
@use '../base/variables' as var;

@use '../base/base';


// リセットCSS
* {
  box-sizing: border-box;  margin: 0;  padding: 0;
}

// 基本的な要素のスタイル
body {
  background-color: $background-color;  color: $text-color;  font-size: $font-size-base;  font-family: $font-family-base;  line-height: $line-height-base;
}

// リンク
a {
  color: $primary-color;  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// リスト
ul,
ol {
  list-style: none;
}

// 画像
img {
  max-width: 100%;  height: auto;
}
