@use 'variables' as var;
@use "sass:map";

// 画像の基本形
@mixin img-block {
    display: block;
    width: 100%;
    height: auto;
}

// Flexbox
@mixin flex-col($gap: 0, $justify: flex-start, $align: center) {
    display: flex;
    align-items: $align;
    flex-direction: column;
    justify-content: $justify;
    gap: $gap;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-right {
    display: flex;
    align-items: right;
    justify-content: center;
}

@mixin flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

/* 絶対配置系 */
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-center-y($left: 0) {
    position: absolute;
    top: 50%;
    left: $left;
    transform: translateY(-50%);
}

/* ボックス装飾 */
@mixin box($bg: #fff, $radius: 20px, $padding: 0) {
    padding: $padding;
    border-radius: $radius;
    background-color: $bg;
}

/* レスポンシブフォント */
@mixin fluid-font($min, $vw, $max) {
    font-size: clamp($min, $vw, $max);
}

@mixin subtitle {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

// 2. ブレークポイントの定義
@mixin mq($breakpoint) {
    @media (max-width: map.get(var.$breakpoints, $breakpoint)) {
        @content;
    }
}